header{
    background: rgb(175, 0, 58);
    padding: 20px 0;;
}
.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
#logo{
    width: 220px;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: rgb(183, 255, 237);
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
}
nav a:hover{
    color: rgb(255, 137, 210);
    text-decoration: underline;
}
body{
    background: rgb(0, 80, 60);
}
main{
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px 0;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    color: rgb(183, 255, 237);
}
.input-padrão{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    background: rgb(183, 255, 237);
}
.checkbox{
    margin: 20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background:rgb(175, 0, 58);
    color: rgb(183, 255, 237);
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius:  5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background: rgb(255, 137, 210);
    transform: scale(1.2);;
}
table{
    margin: 20px 0 40px;
}
thead{
    background: rgb(255, 137, 210);
    color:rgb(175, 0, 58);
    font-weight: bold;
}
td, th{
    border: 1px solid rgb(175, 0, 58);
    padding: 8px 15px;
}
footer{
    text-align: center;
    background: url(imagens/rodape.jpeg);
}
#logo_rodape{
    width: 290px;
    padding: 40px;
} 
.copyright{
    color: rgb(183, 255, 237);
    font-size: 13px;
    padding-bottom: 20px;
}