header{
    background: rgb(175, 0, 58);
    padding: 20px 0;;
}
.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
#logo{
    width: 220px;
}
nav {
    position: absolute;
    display: inline-block;
    top: 110px;
    right: 0;
}
nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}
nav a{
    display: inline-block;
    text-transform: uppercase;
    COLOR: rgb(183, 255, 237);
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
}
nav a:hover{
    color: rgb(255, 137, 210);
    text-decoration: underline;
}
#banner {
    width: 100%;
    display: inline-block;
    margin: 0px;
}
.principal{
    display: inline-block;
    background-image: linear-gradient(rgb(0, 117, 133), rgb(0, 31, 15)); 
    padding: 30px
}
.titulo-centro{
    text-align: center;
}
h1 {
    color:rgb(147, 255, 255);
}

p  {
    text-align: center;
    color:rgb(172, 255, 223);
}
#frase {
    font-size: 20px
}
em strong {
    color:rgb(0, 255, 255);
}   
h2 {
    color:rgb(153, 218, 255);  
}
.itens {
    color:rgb(1, 0, 63);
    font-style: italic;
    
}
.plataformas{
    background-image: linear-gradient(rgb(0, 31, 15), rgb(255, 125, 175)); 
    padding: 20px;
    height: 200px;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.img_plataformas {
    width: 100%;
}
footer{
    text-align: center;
    background: url(imagens/rodape.jpeg);
}
#logo_rodape{
    width: 290px;
    padding: 40px;
} 
.copyright{
    color: rgb(183, 255, 237);
    font-size: 13px;
    padding-bottom: 20px;
}