<!DOCTYPE html>
<html>
  <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>No Man's Sky</title>
        <link rel= "stylesheet" href="../Styles/reset.css">
        <link rel="stylesheet" href="../Styles/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2? família=Montserrat:wght@100&display=swap" 
        rel="stylesheet">

  </head>
  <body>
      <header>
        <div class="caixa">
          <h1><img id="logo" src="../Imagens/logo1.png"></h1>
          <nav>
              <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="aliens.html">Alienígenas</a></li>
                  <li><a href="contato.html">Contato</a></li>
              </ul>
          </nav>
         </div>
      </header>
  
    <img class= "banner" src= "../Imagens/banner.jpg">   
      
    <main>
        <section class="principal">
          <h1 class="titulo-principal"> No Man's Sky </h1>

      
            <img class="jogo"  src="../Imagens/jogo.jpg" alt="Jogo">
        
        <div class= "conteudo-principal">
            <p>Desenvolvido e publicado pelo estúdio independente Hello Games, 
            <strong>No Man's Sky</strong> é um videojogo de ficção científica com elementos de aventura e sobrevivência. </p>

            <p id= "frase"><em>Pode-se afirmar sem dúvidas que: 
            <strong>No Man’s Sky é uma experiência estonteante de exploração espacial</strong></em></p>

            <p> Em No Man's Sky, os jogadores são livres para explorar todo um universo, 
            gerado proceduralmente, que inclui cerca de 18 quintilhões de planetas, todos eles com flora e fauna própria. </p>  
          </div>
        </section>

        <section class="mapa">
          <h3 class="titulo-principal">Nossa Localização</h3>
          <p>Nosso localização deve estar à anos luz dessa galáxia!</p>
          <div  class="conteudo_mapa"><iframe src="https://www.google.com.br/sky/#latitude=71.35647282330092&longitude=-25.89801299291698&zoom=4&Spitzer=0.00&ChandraXO=0.00&Galex=0.00&IRAS=0.00&WMAP=0.00&Cassini=0.00&slide=1&mI=-1&oI=-1" 
            width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </section>

        <section class="plataformas">
            <h2 class="titulo-principal">Plataformas</h2>
            
            <div class="conteudo-plataformas">
              <ul class="lista-plataformas">
                <li class= "itens">Disponível em:</li>
                <li class= "itens">PC</li> 
                <li class= "itens">XBOX</li> 
                <li class= "itens">Playstation</li> 
              </ul><img src="../Imagens/platafromas.jpg" class="img_plataformas"> 
            </div>
            <div class="video">
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/ifZA6IMeLs8" title="YouTube video player" 
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen></iframe>
            </div>
          </section>
    </main>

    <footer>
        <img id="logo_rodape" src="../Imagens/rd_logo.png">
        <p class="copyright">&copy; Copyright No Man's Sky - Leticia Costa Leite 2021</p>
    </footer>

  </body>

</html>